body {
  background-color: rgb(121, 180, 121);
}

h1 {
  text-align: center;
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(40, 40, 40);
}
h2 {
  text-align: center;
  font-size: 11pt;
  margin: 3px;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  color: rgb(40, 40, 40);
}

svg {
  display: block;
  max-height: 80vh;
  max-width: calc(80vh * 5/3);
  border-radius: 10px;
  background-color: rgba(200, 200, 210, 0.4);
  box-shadow: 2px 6px 8px rgba(50, 50, 50, 0.4), 2px -3px 10px rgba(50, 50, 50, 0.4),
    -2px 2px 10px rgba(50, 50, 50, 0.3);
  margin: auto;
}

#bar-chart {
  margin: auto;
  padding: 20px;
}

.axis {
  font: 0.6em sans-serif;
}

.axis path {
  stroke: rgba(40, 40, 40, 0.9);
}

.tick line {
  stroke: rgba(40, 40, 40, 0.9);
}

.tick text {
  stroke: rgba(50, 50, 50, 0);
  fill: rgba(40, 40, 40, 0.9);
}

.bar {
  fill: rgb(65, 92, 105);
}

.bar:hover {
  fill: rgb(26, 26, 109);
}

.horizontal-guidelines path {
  stroke: rgba(50, 50, 50, 0.3);
}

.horizontal-guidelines line {
  stroke: rgba(50, 50, 50, 0.2);
}

.tooltip {
  background-color: rgba(200, 200, 210, 0.8);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 6px 8px rgba(50, 50, 50, 0.4), 2px -3px 10px rgba(50, 50, 50, 0.4),
    -2px 2px 10px rgba(50, 50, 50, 0.3);
}

.tooltip h3 {
  margin: 3px;
  font-size: 2.5vh;
}

.tooltip p {
  text-align: right;
  margin: 3px;
  font-size: 1.8vh;
}

.left-label {
  fill: rgba(40, 40, 40, 0.6);
  font-family: Helvetica, sans-serif;
  font-size: 10pt;
}

.data-reference {
  font-size: 6pt;
  fill: rgb(26, 26, 109);
}
